body { 
 		SCROLLBAR-FACE-COLOR: white; 
 		SCROLLBAR-HIGHLIGHT-COLOR: darkgrey; 
 		SCROLLBAR-SHADOW-COLOR: lightgrey; 
 		SCROLLBAR-ARROW-COLOR: darkgrey; 
 		SCROLLBAR-TRACK-COLOR:white; 
 		SCROLLBAR-BASE-COLOR:white; 
 		scrollbars-3dlight-color: darkgrey }
 

.FieldCaptionTD{ font-weight: bold; font-family:Verdana; color: #000000;   font-size: 8pt; text-align: left;
}

.FieldCaptionColorTD{ font-weight: bold; border: solid 1 #698BB7; font-family:Verdana; font-size: 8pt;}

.TextinputNum{color:darkblue;	border:solid 1 black; text-align:right;  font-size:8pt; font-family:Verdana; }

.TextinputText{color:darkblue;	border:solid 1 black; text-align:left;  font-size:8pt; font-family:Verdana; }

.TextinputTextWB{color:darkblue; text-align:left;  font-size:8pt; font-family:Verdana; }

.LblSuccess
{
    color: navy;
    font-size: 9pt;
    font-family: Verdana;
    font-weight: bold;
}

.LblError
{
    color: red;
    font-size: 9pt;
    font-family: Verdana;
    font-weight: bold;
}
.Label{font-size:8pt; font-family:Verdana;}

.Table
{	 
	border-right: #698bb7 1pt solid;
	border-top: #698bb7 1pt solid;
	border-left: #698bb7 1pt solid;
	color: #000000;
	border-bottom: #698bb7 1pt solid;
	font-family: Verdana;
	border-collapse: collapse;
	background-color: #ffffff;
}

.FormHeaderFont{ background-image: url(image/formheader.jpg); font-size: 11pt; font-family:Verdana; font-weight: bold; text-align:right;}

.TestFormHeaderFont{ background-image: url(image/formheader.jpg); font-size: 10pt; font-family:Verdana; font-weight: bold; text-align:center; color:White }

.ButtonTD{ color: white; background-color:8cba10;font-size: 9pt; font-family:Verdana; border:solid 1px #B3CAE1; text-align:right; }

.Button{ color: #000080; background-color:#afb7cf;font-size: 9pt; font-family:Verdana; border:solid 1px #B3CAE1;}

.Dropdownbox {	color:darkBlue;font-size:8pt;	font-family:Verdana; }

.Radiobuttonlist {color:darkblue;	font-size:8pt; 	font-family:Verdana; }

.Checkboxlist{color:darkBlue;  height:2px; font-size:8pt;font-family:Verdana;}

.Checkbox{color:darkBlue; font-size:8pt;font-family:Verdana;}

.DataGridHeaderFont{ color: white; font-size: 9pt; font-weight: bold; background-color:#1010ad; font-weight:bold; font-family:Verdana;}

.DataGridFooterFont{ color: white; font-size: 8pt; font-weight: bold; background-color:#1010ad; font-weight:bold; font-family:Verdana;}

.DataGridBody
{
	border-right: white 1px solid;
	border-top: white 1px solid;
	font-size: 8pt;
	border-left: white 1px solid;
	color: black;
	border-bottom: white 1px solid;
	font-family: Verdana;
	background-color: white;	
}

.LinkButton{color:darkBlue; font-size:8pt; font-family:Verdana; font-weight:bold;}

.Frame{color:darkBlue;}

.FieldCaptionTDRep{ font-weight: bold; border: solid 1 #698BB7; font-family:Verdana; color: #000000;   font-size: 9pt; }
.FieldCaptionTDHead{ font-weight: bold; font-family:Verdana; color: #000000;   font-size: 7pt; }
.FieldCaptionTDDetails{ font-family:Verdana; color: #000000;   font-size: 7pt; }
.ReadingQText{ font-family:Verdana; color: #000000;   font-size: 10pt; }

.DataGridSElectedStyle{color: black; font-size: 8pt; background-color:f7efd6; font-weight:bold; font-family:Verdana;}
.TotalLabel{color: navy; font-size: 10pt; background-color: white; font-weight:bold; font-family:Verdana;}

.Tracker{ font-family:Verdana; color: #0804a5;   font-size: 9pt; }







